* {
  box-sizing: border-box;
}

body {
  font-family: 'Yanone Kaffeesatz', sans-serif;
  letter-spacing: 1.2px;
  font-size: 0.9rem;
  font-weight: 600;
  line-height: 1.5;
}

img, video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.logo {
  width: 120px;
}

.hero {
  min-height: calc(100vh - 106px);
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
}

h1 {
  font-size: 2.5rem;
  text-transform: uppercase;
}

h2 {
  font-size: 1.5rem;
}

h3 {
  font-size: 1rem;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Red Rose', serif;
  margin: 0.5em 0;
  line-height: 0.8;
  font-weight: 900;
}

a {
  text-decoration: inherit;
}

nav {
  display: flex;
  padding: 1em;
  justify-content: space-between;
  /* gap: 1em; */
  align-items: center;
}

nav ul li a {
  transition: color 500ms;
  padding: 1em;
}

nav ul li a:hover {
  color: inherit;
}

nav ul {
  padding: 0;
}

nav ul {
  display: flex;
  /* gap: .5em; */
  list-style: none;
}

header {
  text-align: center;
}

.lead {
  font-size: 1rem;
}

main {
  display: flex;
  flex-flow: column;
  gap: 2em;
  padding: 1em;
  margin-bottom: 3em;
}

main p {
  text-align: justify;
}

.container {
  max-width: 600px;
  margin: 0 auto;
}

.epe {
  height: 50vh;
}

@media (prefers-color-scheme: dark) {
  body {
    background: #451952;
    color: #f39f5a;
  }

  nav ul li a {
    color: whitesmoke;
  }

  .lead {
    color: whitesmoke;
  }

  p,
  li {
    color: whitesmoke;
  }
}

@media (min-width: 600px) {
  body {
    font-size: 1.2rem;
  }

  .logo {
    width: 150px;
  }

  h1 {
    font-size: 3.2rem;
  }

  .lead {
  font-size: 1.4rem;
}
}
