* {
  box-sizing: border-box;
}

body {
  font-family: 'Yanone Kaffeesatz', sans-serif;
  letter-spacing: 1.2px;
  font-size: 1.2rem;
  font-weight: 600;
  line-height: 1.5;
}

.hero {
  min-height: calc(100vh - 106px);
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
}

h1 {
  font-size: 3.2rem;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Red Rose', serif;
  margin: 0.5em 0;
  line-height: 0.8;
  font-weight: 900;
}

a {
  text-decoration: inherit;
}

nav {
  display: flex;
  padding: 1em;
  justify-content: center;
}

nav ul li a {
  transition: color 500ms;
  padding: 1em;
}

nav ul li a:hover {
  color: inherit;
}

nav ul {
    padding: 0;
}

nav ul {
  display: flex;
  gap: 1em;
  list-style: none;
}

header {
  text-align: center;
}

.lead {
  font-size: 1.4rem;
}

main {
  display: flex;
  flex-flow: column;
  gap: 2em;
  padding: 1em;
  margin-bottom: 3em;
  max-width: 600px;
  margin: 0 auto;
}

@media (prefers-color-scheme: dark) {
  body {
    background: #451952;
    color: #f39f5a;
  }

  nav ul li a {
    color: whitesmoke;
  }

  .lead {
    color: whitesmoke;
  }

  p,
  li {
    color: whitesmoke;
  }
}
